body{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    align-items: center;
    text-align: center;
}

html{
    height: 100%;
}

#canvas{
    background-color: rgba(112, 16, 104, 0.223);
}

text{
    align-items: center;
}
#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}
